# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file> --channel default --channel conda-forge
# platform: win-64

python=3.9.1

# For AudioVisualizer
matplotlib=3.3.2
numpy=1.19.2

# For microphone and speakers
python-sounddevice=0.4.1

# For run script
pyyaml=5.4.1
